#browser-key-tracking-root {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 99999;
}

#browser-key-tracking-root .kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border-width: 1px;
  border-color: oklch(0.746477 0.0216 264.436 / 0.2);
  background-color: oklch(0.232607 0.013807 253.101);
  padding-left: 8px;
  padding-right: 8px;
  border-bottom-width: 2px;
  min-height: 35px;
  min-width: 35px;
  color: #f5deb3;
}

#browser-key-tracking-root .v-enter-active {
  transition: opacity 0.5s ease;
}

#browser-key-tracking-root .v-leave-active {
  transition: all 0.5s ease;
  transform: translateX(-100%);
}

#browser-key-tracking-root .v-enter-from,
#browser-key-tracking-root .v-leave-to {
  opacity: 0;
}