#browser-key-tracking-root {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 99999;
}

.v-enter-active {
  transition: opacity 0.5s ease;
}

.v-leave-active {
  transition: all 0.5s ease;
  transform: translateX(-100%);
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}